html, body {
  width: 70%;
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: auto;
}
/*
body {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  top: 50px;
} */
#wrapper{
  margin-top: 50px;
  height: auto;
  border: 1px solid black;
}

#header {
  text-align: left;
  height: 33%;
  padding-top: 10px;
  margin: 0 0 10px 10px;
}

#city {
  font-size: 30px;
  font-weight: bold;
}

#date {
  float: left;
  font-size: 20px;
  margin: 10px 20px 0 0;
}

#time {
  font-size: 20px;
  margin: 10px 20px 0 0;
}

#description {
  margin: 10px 0 0 0;
}

#temperature {
  float: left;
  width: 55%;
  outline: 1px solid blue;
}

#weathericon {
  float: left;
  width: 25%;
  height: auto;
  margin: 0 15px 0 10px;
}

#temp {
  float: left;
  font-size: 40px;
}

button {
  height: 25px;
  width: 60px;
  margin-left: 15px;
  text-align: center;
}

#data{
  padding-left: 20px;
  outline: 1px solid green;
}

footer {
  height: 60px;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}

footer p {
  padding-top: 40px;
}
