html, body {
  width: 100%;
  min-height: 100%;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

body {
  height: 100%;
  width: 67%;
  margin: auto;
  position: relative;
  top: 50px;
  padding-bottom: 40px;
}

#header {
  text-align: left;
  height: 33%;
}

#date {
  float: left;
  margin-right: 20px;
}

#wrapper{
  width: 100%;
  height: 50%;
  margin-top: 25px;
  outline: 2px solid pink;
}

#temperature {
  float: left;
  width: 60%;
  margin-right: 25px;
  outline: 1px solid red;

}

#weathericon {
  float: left;
  width: 50%;
  height: 70px;
}

#temp {
  float: left;
  font-size: 50px;
}

button {
  height: 25px;
  width: 60px;
  margin-left: 15px;
  text-align: center;
}

#data {

}


footer {
  height: 20px;
  position: relative;
  top: 150px;
  outline: 2px solid red;
}
